.section-lower-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 36px;
    line-height: 16px;
}

.section-lower-title-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5D6970;
    margin-top: 0;
    line-height: 16px;
}

.section-lower-title-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 36px;
    line-height: 16px;
}

.section-lower-title-text-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5D6970;
    margin-top: 0;
    line-height: 16px;
}

.section-lower-img {
    background-image: url(../assets/shap1.svg);
    position: absolute;
    height: 36px;
    width: 36px;
    top: -15px;
    left: 0;
}

@media(max-width: 767px) {
    .section-lower-title {
        font-size: 18px;
        margin-top: 10px;
        line-height: 20px;
    }
    .section-lower-title-text {
        font-size: 14px;
        line-height: 18px;
    }
    .section-lower-title-second {
        font-size: 18px;
        margin-top: 10px;
        line-height: 18px;
    }
    .section-lower-title-text-second {
        font-size: 14px;
        margin-top: 0;
        line-height: 18px;
    }
    .section-lower-img {
        position: relative;
        top: 0px;
        left: 0;
    }
}